@media(max-width: 1128px){
/* header class css  start*/

    header{
        /* width: 151.8vh; */
        /* width: 100%; */
    }

    .logo{
        width: 85%;
    }

    #menuIcon{
        padding-top: 5%;
        padding-left: 4%;
        display: inline;
        position: relative;
        font-size: 30px;
        border-radius: 4px;
        cursor: pointer;
    }
/* navlink class css  start*/
    nav{
        position: relative;
        display: flex;
    }
    .navlinks{
        padding: 0;
        display: none;
        position: absolute;
        top: 59%;
        left: 4%;
        width: 18%;
        height: 35vh;
        background-color: rgb(0, 0, 0);
    }

    .navActive{
        display: inline;
    }

    .navlinks li{
        display: block;
        margin-top: 20px;
        width: 100%;
        height: 40px;
        top: 50px;
    }
    .navlinks li a{
        margin-left: 40px;
    }

    .navlinks li a:hover{
        text-decoration: underline;
    }
/* navlink class css  end*/

/* header class css  end*/

/* choose-us class css start */
    .choose-us{
        /* width: 151.8vh; */
        display: block;
    }
    
    .choose-us h2{
        text-align: center;
        width: 50%;
        margin: auto;
        padding: 0;
    }
/* choose-us class css end */

/* experience section css start */
.experience{
    /* width: 151.8vh; */
    flex-direction: column;
}

.experience-img img{
    display: none;
}

.experience-content{
    justify-content: center;
    text-align: center;
}
.info{
    justify-content: center;
}

/* experience section css end */
.materials{
    flex-direction: column;
    background: linear-gradient(rgba(255, 255, 255, 0.102), rgba(255, 255, 255, 0.089)), url("img/material2.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-left: 19%; */
    /* width: 100%; */
}

.material-img{
    display: none;
}

.material-content{
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: auto;
    z-index: 5;
}

.material-content h3{
    font-size: 6vh;
    line-height: 33.3px;
}

.material-content p{
    font-size: 3vh;
    line-height: 33.3px;
}

.testimonials{
    margin: 0;
    justify-content: center;
    text-align: center;
}

#test-heading{
    font-size: 4vh;
}

#test-content{
    font-size: 6vh;
}

.testimonial-cards{
    width: 102vh;
}

.testimonial-card{
    margin: auto 1.5vh;
    padding-top: 23vh;
    width: 39vh;
    height: 60vh;
    border-radius: 2vh;
}

.user-review{
    width: 35vh;
    height: 32vh;
    margin: 2vh 2vh;
    padding-top: 3vh;
    background: white;
    border-radius: 2vh;
    text-align: center;
    color: #1E1E1E;
}
}


@media(max-width: 765px){
    body{
        width: 106vh;
    }
    header{
        background: #1e1e1ec9;
        height: 150vh;
    }
    nav{
        padding: 7vh;
    }
    .logo{
        font-size: 12vh;
        padding: 8vh;
    }
    #menuIcon{
        font-size: 12vh;
        padding: 5vh;
    }
    .bag{
        padding: 8vh;
    }
    
    .bag-img{
        width: 7vh;
        height: 7vh;
    }
    .navlinks{
        width: 50%;
        height: 60vh;
        z-index: 1;
    }
    .navlinks li{
        padding: 5vh;
    }
    .navlinks li a{
        font-size: 5vh;
    }
 
    .zero{
        width: 5vh;
        height: 4vh;
    }

    .header-content{
        padding-top: 10vh;
    }

    .header-content p{
        font-size: 4vh;
        padding: 3vh;
    }

    .search{
        margin-top: 8vh;
    }

    .search input{
        font-size: 3vh;
    }
    .choose-content-card{
        flex-direction: column;
        text-align: center;
    }

    .choose-us h2{
        font-size: 10vh;
        line-height: 11vh;
    }

    .choose-us-content h3{
        font-size: 8vh;
    }

    .choose-us-content p{
        font-size: 5vh;
        line-height: 6vh;
    }

    .info{
        justify-content: center;
    }

    .info h4 a{
        font-size: 5vh;
    }

    .info img{
        width: 10vh;
        height: 10vh;
    }

    .sell h2{
        font-size: 8vh;
    }
    
    .sell-navlinks{
        width: 58vh;
        height: 10vh;
    }
    
    .sell-navlinks li a{
        font-size: 4vh;
    }

    .sell-cards{
        width: 70%;
    }
    .sell-card{
        width: 50vh;
        margin-left: 5vh;
    }
    .sell-card img{
        width: 40vh;
        height: 43vh;
    }
    .item-details img{
        width: 120px;
        height: 20px;
    }

    .item-details p{
        font-size: 4vh;
    }
    .item-details h3{
        font-size: 8vh;
    }
    .item-price img{
        width: 48px;
        height: 48px;
    }

    .sell-arrow{
        margin-top: 44vh;
    }

    .item-price p{
        font-size: 5vh;
    }
    .item-price img{
        width: 55px;
        height: 55px;
    }
    .experience-content h4{
        font-size: 4vh;
    }
    .experience-content h3{
        font-size: 7vh;
        line-height: 8vh;
    }
    .experience-content p{
        font-size: 3vh;
    }
    .material-content h4{
        font-size: 5vh;
    }
    .material-content h3{
        line-height: 8vh;
    }
    .testimonial-cards{
        width: 74%;
    }
    .testimonial-card{
        height: 70vh;
        margin-left: 2vh;
    }
    .testimonials .sell-arrow{
        margin: 30vh 4vh;
    }
    footer{
        flex-direction: column;
    }
    .about img{
        width: 20vh;
    }
    .about, .services, .furniture, .follow{
        width: 100%;
    }
    .services h4, .furniture h4, .follow h4{
        font-size: 5vh;
    }
    .about p, .services p, .furniture p, .follow p{
        font-size: 3vh;
    }
}




