:root {
    --white-color: #FFFFFF;
    --black-color: #1E1E1E;
    --orange-dark-color: #E58411;
    --orange-light-color: #F6973F;
    --blue-color: #0D1B39;
    --grey-light-color: #F7F7F7;
}

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: none;
}

/* header section css start */

header{
    background: url("img/header/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    color: var(--white-color);
}

/* navbar css start */

nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 4%;
    font-size: 5vh;
    line-height: 6vh;
}

#menuIcon{
    display: none;
}

.navlinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3%;
    position: relative;
    width: 40%;
    /* overflow: hidden; */
}

.navlinks li{
    list-style: none;

    display: inline-block;
}

.navlinks li a{
    text-decoration: none;
    font-size: 3vh;
    line-height: 3.5vh;
    color: var(--white-color);
    /* padding: 2vh; */
}

.bag{
    display: flex;
    width: 10%;
    padding: 4%;
}

.bag-img{
    width: 3.5vh;
    height: 3.5vh;
}

.zero{
    width: 2.5vh;
    height: 2vh;
}

/* navbar css end */

/* header content css start */
.header-content{
    text-align: center;
    color: var(--white-color);
}

.header-content h1{
    font-size: 9vh;
    line-height: 10vh;
}

.header-content p{
    font-size: 3vh;
    line-height: 4vh;
    opacity: 0.8;
}

/* search box css start */

.search{
    width: 100%;
    max-width: 370px;
    height: 56px;
    border: 0.86px;
    margin: auto;
    border-radius: 42px;
    justify-content: space-between;
    padding: 8px 8px 8px 20px;
    color: var(--white-color);
    background: rgb(255, 255, 255, 15%);
    display: flex;
    align-items: center;
}

.search input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 18px;
    color: var(--white-color);
    opacity: 0.8;
}

::placeholder{
    color: var(--white-color)
}

.search button img{
    width: 40px;
    height: 40px;
}

.search button{
    border: 0;
    border-radius: 24px;
    background-color: var(--orange-dark-color);
}
/* search box css end */
/* header content css end */
/* header section css end */

/* Choose us section css start  */

.choose-us{
    width: 100%;
    display: flex;
    color: var(--black-color);
    margin: 5vh 0;
}

.choose-content-card{
    display: flex;
}

.choose-us h2{
    padding: 5vh;
    font-size: 5vh;
    line-height: 7vh;
} 

.choose-us-content{
    padding: 3vh;
}

.choose-us-content h3{
    padding: 2vh 0 0 2vh;
    font-size: 3.5vh;
    line-height: 3vh;
    opacity: 0.9;
}

.choose-us-content p{
    padding-left: 2vh;
    font-size: 2.5vh;
    line-height: 3vh;
    color: var(--black-color);
}

.info{
    display: flex;
    padding-left: 2vh;
}

.info h4 a{
    text-decoration: none;
    font-size: 2.5vh;
    color: var(--orange-dark-color);
}

.info img{
    padding-top: 2vh;
    width: 5.3vh;
    height: 5.3vh;
}

/* Choose us section css end  */

/* sell section css start */

.sell{
    text-align: center;
    background: var(--grey-light-color);
    padding: 4vh;
    width: 100%;
}

.sell h2{
    margin: auto;
    font-size: 6vh;
    color: var(--black-color);
}

/* sell navbar section css start */

.sell-navlinks{
    margin: 1.5vh auto;
    display: flex;
    align-items: center;
    width: 40vh;
    height: 7vh;
    background: #EEEEEE;
    border-radius: 42px;
    
}

.sell-navlinks li{
    list-style: none;
    padding: 0 1.9vh;
    color: var(--black-color);
    font-size: 2vh;
    line-height: 2vh;
    opacity: 0.8; 
}

.sell-navlinks li:hover{
    border-radius: 32px;
    padding: 1vh 1.5vh;
    background: var(--white-color);
}

/* sell navbar section css end */

/* sell card section css start */

.sell-cards{
    padding: 3vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

.slider{
    display: flex;
}

.sell-card{
    margin: 3vh 1vh;
    min-width: 38vh;
    background-color: hsla(0, 0%, 0%, 0.09);
    border-radius: 2vh;
}

.sell-card img{
    width: 32vh;
    height: 34vh;
}

.item-details{
    text-align: left;
    padding: 1vh;
}

.item-details img{
    width: 103px;
    height: 18px;
}

.item-price{
    display: flex;
    justify-content: space-between;
    padding: 0 3vh 3vh 3vh;
}

.item-price img{
    width: 48px;
    height: 48px;
}

.item-details-price{
    background: var(--white-color);
    border-radius: 0 0 2vh 2vh;
}

/* In sell card left-right arrow css start */
.sell-arrow{
    width: 9vh;
    height: 9vh;
    margin-top: 29vh;
}

/* In sell card left-right arrow css end */

/* sell card section css end */

/* slider css start */
.slider{
    display: flex;
    overflow-x: scroll;
}

.slider::-webkit-scrollbar{
    display: none;
} 

/* slider css end */

/* sell section css end */

.sell-view{
    padding-top: 6vh;
    justify-content: center;
}

/* experience section css start */
.experience{
    display: flex;
    margin: 15vh;
}

.experience-img img{
    width: 65vh;
    height: 45vh;
    border-radius: 20px;
    /* box-shadow: 0 0 5vh var(--orange-dark-color); */
}

.experience-content{
    margin: 0 10vh 0 13vh;
}

.experience-content h4{
    font-size: 3vh;
    line-height: 2vh;
    color: var(--orange-dark-color);
}

.experience-content h3{
    font-size: 5vh;
    line-height: 6vh;
    color: var(--black-color);
}

.experience-content p{
    font-size: 2vh;
    line-height: 33.3px;
}

.experience-content .info img{
    padding-top: 3vh;
}

.experience .info{
    padding-left: 0;
}

/* experience section css end */

/* material section css start */
.materials{
    display: flex;
    margin: 3vh;
}

.material-content{
    width: 50%;
    padding: 5vh 10vh;
}

.material-content h4{
    font-size: 3vh;
    line-height: 2vh;
    color: var(--orange-dark-color);
}

.material-content h3{
    font-size: 5vh;
    line-height: 6vh;
    color: var(--black-color);
}

.material-content p{
    font-size: 2vh;
    line-height: 33.3px;
}

.material-content .info img{
    padding-top: 2.5vh;
}

.material-content .info{
    padding: 0;
}

.material-img{
    display: flex;
}

.material-img-left{
    display: flex;
    flex-direction: column;
}

.material-img-left-img2{
    width: 223px;
    height: 338px;
    margin-left: 4vh;
}

.material-img-right{
    margin-top: 15vh;
    margin-left: 3vh;
}

/* material section css end */

/* Testimonial section css start */
.testimonials{
    margin: 15vh 10vh;
    text-align: center;
}
#test-heading{
    font-size: 3vh;
    line-height: 2vh;
    color: var(--orange-dark-color);
}
#test-content{
    font-size: 5vh;
    line-height: 6vh;
    color: var(--black-color);
}

.testimonial-cards{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 81%;
}

.testimonial-card{
    margin: 1.5vh;
    padding-top: 21vh;
    width: 39vh;
    height: 60vh;
    border-radius: 2vh;
}

.user-review{
    width: 35vh;
    height: 26vh;
    margin: 2vh 2vh;
    padding-top: 3vh;
    background: var(--white-color);
    border-radius: 2vh;
    text-align: center;
    color: var(--black-color);
}

.card1{
    background: url("img/testimonials/testimonial1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.card2{
    background: url("img/testimonials/testimonial2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.card3{
    background: url("img/testimonials/testimonial3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.client{
    position: relative;
    object-fit: cover;
    width: 65px;
    height: 65px;
    background-color: var(--white-color);
    border-radius: 50%;
    top: -60px;
}

.rating{
    position: relative;
    top: -60px;
}

.user-review h3, .user-review h4, .user-review p{
    position: relative;
    top: -60px;
}

.card-slide{
    display: flex;
    overflow-x: scroll;
}

.card-slide::-webkit-scrollbar{
    display: none;
}

.testimonials .sell-arrow{
    margin-top: 22vh;
}

/* Testimonial section css end */

/* Footer css start */

footer{
    background: #F7F7F7;
    display: flex;
    padding: 6vh;
    justify-content: center;
}

.about, .services, .furniture, .follow{
    padding: 0 10vh;
    width: 25%;
}

.services h4, .furniture h4, .follow h4{
    font-size: 2vh;
    color: var(--orange-light-color);
}

.social img{
    padding-right: 2vh;
}


